html {
    max-width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background-color: #eeeeee;
    width: 100%;
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 28px;
}

#first {
    height: 100vh;
    margin-left: -10px;
    width: 100vw;
    padding-left: 150px;
    margin-top: -10px;
    background-image: url("Resources/bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#logo img {
    margin-left: -110px;
    padding-top: 20px;
}

#header {
    display: flex;
    left: 0;
    right: 0;
    background-color: transparent;
    height: 8vh;
}

#navbar {
    margin-top: 20px;
    margin-left: 280px;
}

#navbar a {
    text-decoration: none;
    padding-left: 30px;
    font-weight: 600;
    color: black;
    font-size: 22px;
}

#navbar a:hover {
    color: rgb(0, 110, 255);
    font-weight: 600;
}

.dropbtn {
    background-color: transparent;
    padding: 14px;
    font-size: 22px;
    border: none;
}

.dropbtn:hover {
    color: rgb(0, 110, 255);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 230px;
    box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.377);
    z-index: 9999;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
    color: gray;
    background-color: transparent
}

.dropdown:hover {
    background-color: none;
}

.call {
    display: flex;
    margin-left: 230px;
    font-size: 24px;
}

#location {
    margin-top: 25px;
    margin-left: 100px;
}

#location a {
    text-decoration: none;
}

#pp {
    margin-left: -30px;
    font-family: cursive;
    font-size: 23px;
    margin-top: -30px;
    color: rgb(58, 37, 78);

}

#title {
    margin-left: 150px;
}

#title h1 {
    margin-top: 580px;
    font-size: 70px;
    margin-left: -30px;
}

#btn {
    display: flex;
    margin-left: 150px;
}

#id:hover {
    color: black;
}

#box {
    border-radius: 20px;
    padding: 10px 50px;
    font-size: 26px;
    margin-left: -30px;
    font-weight: 600;
    letter-spacing: 1.5px;
    margin-top: 10px;
    background-color: rgb(60, 60, 226);
    border: none;
    color: white;
    text-decoration: none;
}

#box:hover {
    transform: scale(1.15);
    background-image: linear-gradient(rgb(103, 136, 207), rgb(43, 32, 194));
}

#paragraph {
    margin-left: 400px;
    text-align: center;
    font-size: 21px;
    line-height: 45px;
    width: 800px;
    margin-top: 300px;
}

#aboutus {
    height: 100vh;
    background-color: rgb(230, 239, 245);
    margin-top: -50px;
}

.about {
    text-align: center;
}

.about h1 {
    padding-top: 100px;
    font-size: 60px;
}

.about p {
    font-size: 19px;
    text-align: center;
}

.row {
    display: flex;
    justify-content: space-evenly;
    padding-top: 100px;
}

.box {
    display: flex;
    width: 370px;
    height: 300px;
    color: black;
    margin: 10px;
    align-items: center;
    text-align: justify;
    padding: 30px;
    border-radius: 80px;
    background-size: 100% 200%;
    font-size: 18px;
    display: block;
    box-shadow: 5px 10px 20px 10px #c9d4dd;
    border: none;
}

.box h2 {
    text-align: center;
    font-size: 35px;
}

.third {
    background-color: rgb(222, 235, 243);
    height: 110vh;
    margin-top: -50px;
}

.third h1 {
    padding-top: 60px;
    font-size: 60px;
    text-align: center
}

.third p {
    font-size: 20px;
    padding-left: 500px;
}

#oval {
    height: 600px;
    width: 1300px;
    margin-left: 300px;
    margin-top: 180px;
    border-radius: 50%;
    background-color: rgba(203, 229, 248, 0.822);
}

.deets {
    display: flex;
    justify-content: space-evenly;
    margin-top: -100px;
}

.deets2 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

#pic1 {
    width: 300px;
    height: 310px;
    font-size: 19px;
    border-radius: 30px;
    box-shadow: 5px 10px 20px 10px #c9d4dd;
    background-color: rgb(222, 235, 243);
}

#pic1 img {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

#staff {
    margin-top: -50px;
    height: fit-content;
    background-color: rgb(230, 239, 245);
}

#staffpics {
    margin-left: 300px;
    width: 1400px;
}

#staff h1 {
    padding-top: 60px;
    font-size: 60px;
    text-align: center;
}

.names {
    font-size: 22px;
    font-weight: 600;
    margin-top: -100px;
    letter-spacing: 1px;
}

#staff1,
#staff2,
#staff3,
#staff4,
#staff5 {
    box-shadow: 5px 10px 20px 10px #c9d4dd;
    border-radius: 30px;
    background-color: #eeeeee;
    height: fit-content;
    position: relative;
}

#staff1 img,
#staff2 img,
#staff3 img,
#staff4 img,
#staff5 img {
    backface-visibility: hidden;
    opacity: 1;
    display: block;
    transition: .5s ease;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

#staff1:hover img,
#staff2:hover img,
#staff3:hover img,
#staff4:hover img,
#staff5:hover img {
    opacity: 0.3;
}

#staff1:hover,
#staff2:hover,
#staff3:hover,
#staff4:hover,
#staff5:hover {
    transform: scale(1.03);
    box-shadow: 5px 10px 20px 10px #a4b9ca;
}

#staff1:hover .hiddentext,
#staff2:hover .hiddentext,
#staff3:hover .hiddentext,
#staff4:hover .hiddentext,
#staff5:hover .hiddentext {
    opacity: 1;
}

#staff1 p,
#staff2 p,
#staff3 p,
#staff4 p,
#staff5 p {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    padding-left: 15px;
}

#staff1 .hiddentext,
#staff2 .hiddentext,
#staff3 .hiddentext,
#staff4 .hiddentext,
#staff5 .hiddentext {
    transition: .5s ease;
    position: absolute;
    height: 260px;
    width: 260px;
    top: 45%;
    opacity: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

#staff1.hiddentext:hover,
#staff2.hiddentext:hover,
#staff3.hiddentext:hover,
#staff4.hiddentext:hover,
#staff5 .hiddentext:hover {
    opacity: 1;
}

.Thebigone {
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
}

#smallerone {
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
}

#fifth {
    height: 80vh;
}

#contact {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 300px;
}

.dot {
    text-align: center;
    height: 120px;
    width: 120px;
    font-size: 23px;
    font-weight: 600;
    margin-left: 80px;
    margin-top: 100px;
    padding: 20px;
    border-radius: 50%;
    display: inline-block;
}

.dot:hover {
    transform: scale(1.08);
}

#title2 h1 {
    margin-top: -10px;
    font-size: 60px;
    text-align: center
}

#ppp {
    font-size: 19px;
    text-align: center;
}

#forth {
    margin-top: -50px;
}

#footer {
    background-color: black;
    width: 100vw;
    color: white;
    padding: 70px 0px 0px 00px;
    font-family: sans-serif;
    border-top: 1px solid black;
    height: 49vh;
    margin-top: 70px;
    margin-left: -25px;
    font-size: 17px;
}

#bigdiv {
    display: flex;
    justify-content: space-around;
}

#bigdiv p {
    font-size: smaller;
}

#bigdiv h5 {
    font-size: larger;
}

#col4 a {
    color: white;
    text-decoration: none;
}

#col5 a {
    color: white;
    text-decoration: none;
}

#rights {
    margin-left: 40%;
    margin-top: -10px;
}

#col2 a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}